@page
@model BlogRazorPage.Pages.Auth.RegisterModel
@{
    Layout = "Shared/Auth/_AuthLayout";
    ViewData["Title"] = "ثبت نام";

}




<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="~/assets/images/inner-page/sign-up.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 me-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>به سایت پاکراه خوش آمدید</h3>
                        <h4>ایجاد حساب کاربری</h4>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-box">
                        <form method="post" class="row g-4">

                            @Html.EditorFor(m => m.UserName)
                            @Html.EditorFor(m => m.PhoneNumber)
                            @Html.EditorFor(m => m.Password)
                            @Html.EditorFor(m => m.ConfirmPassword)



                            <div class="col-12">
                                <div class="forgot-box">
                                    <div class="form-check ps-0 m-0 remember-box">
                                        <input class="checkbox_animated check-box" type="checkbox"
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <span>شرایط</span> و <span>قوانین</span> را میپذیرم.
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-animation w-100" type="submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>

              
             

                    <div class="other-log-in">
                        <h6></h6>
                    </div>

                    <div class="sign-up-box">
                        <h4>حساب کاربری دارید ؟</h4>
                        <a href="../Auth/Login">وارد شوید</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>
<!-- suign up section end -->
