<!DOCTYPE html>
<html lang="fa" dir="rtl">

<html>
<head>
    @await RenderSectionAsync("Headers", required: false)
</head>
<body>
<div>
    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="index.html">
                    <i class="iconly-Home icli"></i>
                    <span>خانه</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <i class="iconly-Category icli js-link"></i>
                    <span>دسته بندی</span>
                </a>
            </li>

            <li>
                <a href="search.html" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>جستجو</span>
                </a>
            </li>

            <li>
                <a href="wishlist.html" class="notifi-wishlist">
                    <i class="iconly-Heart icli"></i>
                    <span>علاقه‌مندی‌ها</span>
                </a>
            </li>

            <li>
                <a href="cart.html">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>سبد خرید</span>
                </a>
            </li>
        </ul>
    </div>

    @*<partial name="Partials/_Section"/>*@

    @RenderBody()


</div>
</body>

<script src="Custom.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>
