@model string
<div class="form-group">
    <lable asp-for="@Model"></lable>
    <textarea class="form-control" id="ckEditor4" asp-for="@Model"></textarea>
    <span class="text-danger" asp-validation-for="@Model"></span>
</div>