@using BlogRazorPage.Infrastructure
@using BlogRazorPage.Services.User
@inject IUserService UserService
@{
    // if (User.Identity.IsAuthenticated)
    // { }
    var user = await UserService.GetCurrentUser();

}
<div class="page-header">
    <div class="header-wrapper m-0">
        <div class="header-logo-wrapper p-0">
            <div class="logo-wrapper">
                <a href="index.html">
                    <img class="img-fluid main-logo" src="~/AdminAssets/assets/images/logo/1.png" alt="logo">
                    <img class="img-fluid white-logo" src="~/AdminAssets/assets/images/logo/1-white.png" alt="logo">
                </a>
            </div>
            <div class="toggle-sidebar">
                <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                <a href="index.html">
                    <img src="~/AdminAssets/assets/images/logo/1.png" class="img-fluid" alt="">
                </a>
            </div>
        </div>


        <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">
                <li>
                    <span class="header-search">
                        <i class="ri-search-line"></i>
                    </span>
                </li>
               

                <li>
                    <div class="mode">
                        <i class="ri-moon-line"></i>
                    </div>
                </li>
                <li class="profile-nav onhover-dropdown pe-0 me-0">
                    <div class="media profile-media">
                        <img class="user-profile rounded-circle" src="@Directories.GetAvatar(user.AvatarName)" alt="">
                        <div class="user-name-hide media-body">
                            <span>@user.Name @user.Family</span>
                            <p class="mb-0 font-roboto">@user.Roles.Select(i => i.RoleTitle).FirstOrDefault()<i class="middle ri-arrow-down-s-line"></i></p>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                        <li>
                            <a href="../../../Admin/User">
                                <i data-feather="users"></i>
                                <span>کاربران</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../../Profile">
                                <i data-feather="users"></i>
                                <span>حساب کاربری</span>
                            </a>
                        </li>
                       @*  <li>
                            <a href="order-list.html">
                                <i data-feather="archive"></i>
                                <span>سفارشات</span>
                            </a>
                        </li>
                        <li>
                            <a href="support-ticket.html">
                                <i data-feather="phone"></i>
                                <span>تیکت پشتیبانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="profile-setting.html">
                                <i data-feather="settings"></i>
                                <span>تنظیمات</span>
                            </a>
                        </li> *@
                       
                       @*  <li>
                         @*    
                             var path = this.Path;
                         

                           
                            <a href=$"../../../../Profile/LogOut?redirectTo=hh" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i data-feather="log-out"></i>
                                <span>خروج</span>
                                </a>
                            } 
                        </li> *@
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>