@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BlogRazorPage.Services.Category
@inject ICategoryService service
@{
    var categories = service.GetCategories();
    var category = categories.Result.Take(5);
}
<footer class="section-t-space">
    <div class="container-fluid-lg">


        <div class="main-footer section-b-space section-t-space">
            <div class="row g-md-4 g-3">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-logo">
                        <div class="theme-logo">
                            <a href="index.html">
                                <img src="assets/images/logo/1.png" class="blur-up lazyload" alt="">
                            </a>
                        </div>

                        <div class="footer-logo-contain">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>

                            <ul class="address">
                                <li>
                                    <i data-feather="home"></i>
                                    <a href="javascript:void(0)">تهران - برج میلاد</a>
                                </li>
                                <li>
                                    <i data-feather="mail"></i>
                                    <a href="javascript:void(0)">support@test.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-title">
                        <h4>دسته بندی</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            @{
                                foreach (var item in category)
                                {
                                    <li>
                                        <a href="shop-left-sidebar.html" class="text-content">@item.Title</a>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-xl col-lg-2 col-sm-3">
                    <div class="footer-title">
                        <h4>دسترسی سریع</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="../../../../Front/Blog" class="text-content">خانه</a>
                            </li>
                            <li>
                                <a href="../../../../Shop/UnderConstruction" class="text-content">فروشگاه</a>
                            </li>
                            @* <li>
                            <a asp-page="../../../../AboutUs" class="text-content">درباره ما</a>
                            </li> *@
                            <li>
                                <a href="../../../../Front/Blog" class="text-content">وبلاگ</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-sm-3">
                    <div class="footer-title">
                        <h4>لینک های مهم</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>

                            <li>
                                <a href="../../../../Profile" class="text-content">حساب کاربری</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h4>تماس با ما</h4>
                    </div>

                    <div class="footer-contact">
                        <ul>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="phone"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">پشتیبانی 24 ساعته :</h6>
                                        <h5>0936.882.3398</h5>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="footer-number">
                                    <i data-feather="mail"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">آدرس ایمیل :</h6>
                                        <h5>parsa9601m@gmail.com</h5>
                                    </div>
                                </div>
                            </li>

                            @*  <li class="social-app mb-0">
                            <h5 class="mb-2 text-content">دانلود اپلیکیشن :</h5>
                            <ul>
                            <li class="mb-0">
                            <a href="https://play.google.com/store/apps" target="_blank">
                            <img src="assets/images/playstore.svg" class="blur-up lazyload"
                            alt="">
                            </a>
                            </li>
                            <li class="mb-0">
                            <a href="https://www.apple.com/in/app-store/" target="_blank">
                            <img src="assets/images/appstore.svg" class="blur-up lazyload"
                            alt="">
                            </a>
                            </li>
                            </ul>
                            </li> *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>

      @*   <div class="sub-footer section-small-space">
            <div class="reserve">
                <h6 class="text-content">©2022 تمام حقوق محفوظ است</h6>
            </div>

            <div class="payment">
                <img src="assets/images/payment/1.png" class="blur-up lazyload" alt="">
            </div>

            <div class="social-link">
                <h6 class="text-content">شبکه های اجتماعی :</h6>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://in.pinterest.com/" target="_blank">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> *@
    </div>
</footer>